# Basics
*.py[cod]
__pycache__

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov/
coverage.xml

# Vim
*~
*.swp
*.swo

# SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# Docker
.cache/

# .docker folders
*.docker/

# Notebook temp files
**/.ipynb_checkpoints/

# Local env files
.env*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Package stuff
src.egg-info/
pip-wheel-metadata/
*.egg-info/


# Data
data/baseline/*
data/images/*
data/originals/*
**.tif
**.tfrec
**.png
workspace/tiles/data/**
**.pt
wandb/**
submission.zip
!/data/originals/qmle7cjk.tif
!/data/originals/l6s043vm.tif
!/data/originals/0pp2l7u8.tif
!/data/originals/jdso97ug.tif
!/data/originals/09lh5igz.tif
!/data/originals/0by07vj3.tif
submission.zip
